{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block sidebar %}{% endblock %}
{% block content_title %}Login{% endblock %}

    {% block flash_messages %}
        {% if error != '' %}
            <div id="flash-messages">
                <div class="alert alert-error">
                    {{ error }}
                </div>
            </div>
        {% endif %}
    {% endblock %}

{% block main %}
    <form class="form-horizontal" action="{{ path('app_login') }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="row">
            <div class="col-xs-12">
                <div class="form-group field-text">
                    <label class="col-sm-2 control-label required" for="username">Email address</label>
                    <div class="col-sm-10">
                        <input type="text" id="username"
                               name="_username" required="required" class="form-control"
                               value="{{ last_username }}"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="form-group field-text">
                    <label class="col-sm-2 control-label required" for="password">Password</label>
                    <div class="col-sm-10">
                        <input type="password" id="password"
                               name="_password" required="required" class="form-control"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 form-actions">
                <div class="form-group">
                    <div id="form-actions-row">
                        <button type="submit" class="btn btn-primary action-save">
                            <i class="fa fa-save"></i> Login
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
