security:
  access_decision_manager:
    strategy: unanimous

  password_hashers:
    Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'bcrypt'

  providers:
    db:
      entity:
        class: App\Entity\User

    oauth:
      id: App\Service\Security\OAuthUserProvider

    default:
      chain:
        providers:
          - oauth
          - db

  firewalls:
    dev:
      pattern: ^/(_(profiler|wdt)|css|images|js)/
      security: false
    main:
      lazy: true
      provider: default
      entry_point: form_login

      form_login:
        login_path: app_login
        check_path: app_login
        enable_csrf: "%env(bool:CSRF_ENABLED)%"

      oauth:
        resource_owners:
          default: "/login/check-oauth"
        login_path: /login_oauth
        use_forward: false
        failure_path: /login
        oauth_user_provider:
          service: App\Service\Security\OAuthUserProvider

      logout:
        path: app_logout

  role_hierarchy:
    ROLE_ADMIN: ROLE_DOMAIN_ADMIN
    ROLE_DOMAIN_ADMIN: ROLE_USER

  access_control:
    - { path: ^/login, roles: PUBLIC_ACCESS }
    - { path: ^/logout, roles: PUBLIC_ACCESS }
    - { path: ^/connect, roles: PUBLIC_ACCESS }
    - { path: ^/mail/config-v1.1.xml, roles: PUBLIC_ACCESS }
    - { path: ^/autodiscover/, roles: PUBLIC_ACCESS }
    - { path: ^/Autodiscover/, roles: PUBLIC_ACCESS }
    - { path: ^/, roles: ROLE_USER }
