security:
  access_decision_manager:
    strategy: unanimous

  password_hashers:
    Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'bcrypt'

  providers:
    app_user_provider:
      entity:
        class: App\Entity\User

  firewalls:
    dev:
      pattern: ^/(_(profiler|wdt)|css|images|js)/
      security: false

    main:
      lazy: true
      provider: app_user_provider
      entry_point: form_login
      form_login:
        login_path: app_login
        check_path: app_login
        enable_csrf: "%env(bool:CSRF_ENABLED)%"
      oauth:
        resource_owners:
          default: custom_login
        login_path: /login_oauth
        use_forward: false
        failure_path: hwi_oauth_connect_registration
        oauth_user_provider:
          service: App\Service\Security\User\OAuth\UserProvider
      logout:
        path: app_logout

  role_hierarchy:
    ROLE_ADMIN: ROLE_DOMAIN_ADMIN
    ROLE_DOMAIN_ADMIN: ROLE_USER

  access_control:
    - { path: ^/login, roles: PUBLIC_ACCESS }
    - { path: ^/logout, roles: PUBLIC_ACCESS }
    - { path: ^/connect, roles: PUBLIC_ACCESS }
    - { path: ^/mail/config-v1.1.xml, roles: PUBLIC_ACCESS }
    - { path: ^/autodiscover/, roles: PUBLIC_ACCESS }
    - { path: ^/Autodiscover/, roles: PUBLIC_ACCESS }
    - { path: ^/, roles: ROLE_USER }
