###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/reference.php
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

/DMS-VERSION
/VERSION
