{% extends '@EasyAdmin/page/login.html.twig' %}

{% block wrapper_wrapper %}
    <div class="login-wrapper">
        <header class="main-header mb-4">
            <div id="header-logo">
                {% block header_logo %}
                    <a class="logo" title="mailserver-admin" href="{{ path('admin_index') }}">
                        mailserver-admin
                    </a>
                {% endblock header_logo %}
            </div>
        </header>

        <div class="w-100 alert alert-danger">
            You need to have admin permissions to access the management interface.
        </div>

        <section class="content">
            <a href="{{ path('app_logout') }}" class="btn btn-primary btn-lg btn-block">Login</a>

            {% include "admin/_includes/footer.html.twig" %}
        </section>
    </div>
{% endblock %}
