{% extends '@!EasyAdmin/layout.html.twig' %}

{% block content_footer_wrapper %}
    <section class="content-footer">
        <footer class="text-center">
            <small class="text-muted">
                <a href="https://github.com/jeboehm/mailserver-admin">admin</a>
                {% if is_granted('ROLE_ADMIN') %}
                    {{ admin_version()|default('unknown') }}{% if admin_update_available() %} <span class="badge badge-warning">update available</span>{% endif %}
                {% endif %}
                |
                <a href="https://github.com/jeboehm/docker-mailserver">docker-mailserver</a>
                {% if is_granted('ROLE_ADMIN') %}
                    {{ mailserver_version()|default('unknown') }}{% if mailserver_update_available() %} <span class="badge badge-warning">update available</span>{% endif %}
                {% endif %}
            </small>
        </footer>
    </section>
{% endblock %}
