<section class="content">
    <a href="/webmail" class="btn btn-secondary btn-lg btn-block">Webmail</a><br/>
    <a href="/rspamd" class="btn btn-secondary btn-lg btn-block">Rspamd</a><br/>
    <small class="text-muted"><a href="https://github.com/jeboehm/docker-mailserver">docker-mailserver</a></small>
</section>
