<hr>

<div class="row">
    <div class="col-6">
        <a class="btn btn-block btn-link" href="/webmail">Webmail</a>
    </div>
    <div class="col-6">
        <a class="btn btn-block btn-link" href="/rspamd">rspamd</a>
    </div>
</div>

<div class="row mt-4">
    <small class="text-muted text-center"><a href="https://github.com/jeboehm/docker-mailserver">powered by docker-mailserver</a></small>
</div>
