<hr>

<div class="d-grid gap-2">
    <a class="btn btn-outline-secondary" href="/webmail">Webmail</a>
    <a class="btn btn-outline-secondary" href="/rspamd">rspamd</a>
    <small class="text-muted text-center"><a href="https://github.com/jeboehm/docker-mailserver">powered by docker-mailserver</a></small>
</div>
