parameters:
    env(WAITSTART_TIMEOUT): "1m"
    env(OAUTH_ENABLED): "false"
    env(OAUTH_BUTTON_TEXT): "OIDC Login"
    env(OAUTH_ADMIN_GROUP): ""
    env(CSRF_ENABLED): "true"
    env(ADMIN_VERSION_FILE): "%kernel.project_dir%/VERSION"
    env(MAILSERVER_VERSION_FILE): "%kernel.project_dir%/DMS-VERSION"
    env(MOBILECONFIG_SSL_CERT_FILE): "%kernel.project_dir%/tls/tls.crt"
    env(MOBILECONFIG_SSL_KEY_FILE): "%kernel.project_dir%/tls/tls.key"
    env(MOBILECONFIG_IMAP_PORT): 143
    env(MOBILECONFIG_SMTP_PORT): 587
    env(MOBILECONFIG_PORTS_ARE_SSL): "false"

services:
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    App\Service\DnsWizard\DnsLookupInterface:
        class: App\Service\DnsWizard\NativeDnsLookup

    App\:
        resource: '../src/*'
        exclude: '../src/{Entity,Kernel.php}'

    App\Controller\:
        resource: '../src/Controller'
        tags: [ 'controller.service_arguments' ]

    Predis\ClientInterface:
        class: Predis\Client
        arguments:
            $parameters:
                scheme: 'tcp'
                host: '%env(REDIS_HOST)%'
                port: '%env(REDIS_PORT)%'
                password: '%env(REDIS_PASSWORD)%'

when@test:
    services:
        App\Service\DKIM\DKIMStatusService:
            autowire: true
            public: true
