parameters:
    env(WAITSTART_TIMEOUT): '1m'
    app_oauth_enabled: '%env(bool:OAUTH_ENABLED)%'
    app_oauth_button_text: '%env(string:OAUTH_BUTTON_TEXT)%'
    app_oauth_admin_group: '%env(string:OAUTH_ADMIN_GROUP)%'
    app_csrf_enabled: '%env(bool:CSRF_ENABLED)%'

services:
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    App\Service\DnsWizard\DnsLookupInterface:
        class: App\Service\DnsWizard\NativeDnsLookup

    App\:
        resource: '../src/*'
        exclude: '../src/{Entity,Kernel.php}'

    App\Controller\:
        resource: '../src/Controller'
        tags: [ 'controller.service_arguments' ]

    Predis\ClientInterface:
        class: Predis\Client
        arguments:
            $parameters:
                scheme: 'tcp'
                host: '%env(REDIS_HOST)%'
                port: '%env(REDIS_PORT)%'
                password: '%env(REDIS_PASSWORD)%'

    App\Service\ApplicationVersionService:
        arguments:
            $projectDir: '%kernel.project_dir%'

    App\Service\DnsWizard\Check\ARecordCheck:
        tags: [{ name: 'dns_wizard.check', priority: 100 }]

    App\Service\DnsWizard\Check\AaaaRecordCheck:
        tags: [{ name: 'dns_wizard.check', priority: 90 }]

    App\Service\DnsWizard\Check\PtrRecordCheck:
        tags: [{ name: 'dns_wizard.check', priority: 80 }]

    App\Service\DnsWizard\Check\MxRecordCheck:
        tags: [{ name: 'dns_wizard.check', priority: 70 }]

    App\Service\DnsWizard\Check\SpfRecordCheck:
        tags: [{ name: 'dns_wizard.check', priority: 60 }]

    App\Service\DnsWizard\Check\DkimRecordCheck:
        tags: [{ name: 'dns_wizard.check', priority: 50 }]

    App\Service\DnsWizard\Check\DmarcRecordCheck:
        tags: [{ name: 'dns_wizard.check', priority: 40 }]

    App\Service\DnsWizard\DnsWizardValidator:
        arguments:
            $checks: !tagged_iterator 'dns_wizard.check'

when@test:
    services:
        App\Service\DKIM\DKIMStatusService:
            autowire: true
            public: true
