parameters:
    env(WAITSTART_TIMEOUT): '1m'
    app_oauth_enabled: '%env(bool:OAUTH_ENABLED)%'
    app_oauth_button_text: '%env(string:OAUTH_BUTTON_TEXT)%'
    app_oauth_admin_group: '%env(string:OAUTH_ADMIN_GROUP)%'
    app_csrf_enabled: '%env(bool:CSRF_ENABLED)%'

services:
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    App\:
        resource: '../src/*'
        exclude: '../src/{Entity,Kernel.php}'

    App\Controller\:
        resource: '../src/Controller'
        tags: [ 'controller.service_arguments' ]

    Predis\ClientInterface:
        class: Predis\Client
        arguments:
            $parameters:
                scheme: 'tcp'
                host: '%env(REDIS_HOST)%'
                port: '%env(REDIS_PORT)%'
                password: '%env(REDIS_PASSWORD)%'

    App\Service\ApplicationVersionService:
        arguments:
            $projectDir: '%kernel.project_dir%'

when@test:
    services:
        App\Service\DKIM\DKIMStatusService:
            autowire: true
            public: true
