parameters:
    rspamd_dkim: '%env(DKIM_PATH)%'

services:
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    App\:
        resource: '../src/*'
        exclude: '../src/{Entity,Kernel.php}'

    App\Controller\:
        resource: '../src/Controller'
        tags: [ 'controller.service_arguments' ]

    App\Service\DKIM\Config\MapGenerator:
        arguments:
            $path: '%rspamd_dkim%'

    App\Service\DKIM\Config\LeftoverFileCleaner:
        arguments:
            $path: '%rspamd_dkim%'

    App\Subscriber\DKIM\ConfigSyncSubscriber:
        tags:
            - { name: 'doctrine.event_subscriber' }

    App\Subscriber\DKIM\CreatePrivateKeyOnActivationSubscriber:
        tags:
            - { name: 'doctrine.event_subscriber' }

    App\Subscriber\DKIM\DomainInfoSubscriber:
        tags:
            - { name: 'doctrine.event_subscriber' }

    App\Subscriber\ChangePasswordSubscriber:
        tags:
            - { name: 'doctrine.event_subscriber' }
