{% extends '@!EasyAdmin/default/layout.html.twig' %}

{% block wrapper_wrapper %}
    {{ parent() }}

    <footer class="text-center">
        <small class="text-muted"><a href="https://github.com/jeboehm/docker-mailserver">docker-mailserver</a></small>
    </footer>
{% endblock %}
